<!-- Section: Blog v.1 -->
<section class="my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold text-center my-5">Tematy które cię mogą zaciekawić</h2>
  <!-- Section description -->
  <p class="text-center w-responsive mx-auto mb-5">Tutaj możesz zobaczyć, dość ciekawe jak interesujące nowinki ze świata iT i nie tylko</p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="/assets/img/zespul.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <a  class="green-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="utensils" class="pr-2"></mdb-icon>Praca w zespole</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Praca w zespole</strong></h3>
      <!-- Excerpt -->
      <p><b>Podstawowymi zaletami pracy w zespołach są:</b><br><br>

        Możliwość wzajemnej pomocy - wielu prac zwłaszcza fizycznych nie sposób wykonać w pojedynkę bez uszczerbku na zdrowiu lub spadku efektywności w dalszej perspektywie.<br>
        Wzajemna motywacja - nikt nie lubi odstawać od grupy, co stanowi bodziec do działania.<br>
        Wymiana pomysłów - praca to nieustanne poszukiwanie nowych idei i rozwiązywanie na bieżąco problemów. W tej sytuacji sprawdza się powiedzenie co dwie głowy to nie jedna.<br>
        Optymalizacja jakości przez bieżącą kontrolę ze strony współpracowników - wcześnie dostrzeżone błędy łatwiej wyeliminować niż naprawić końcowy rezultat. Kontrola nie powinna przybierać formy despotyzmu ani stresować. Dzięki temu współpracownicy nie będą się bali zwrócić o pomoc.<br>
        Szybsza możliwość awansu - w większej grupie wyróżniające się indywidualności łatwo zostaną dostrzeżone, co zwykle przekłada się na powierzanie nowych zadań i rozwój zawodowy</p>



      <p><b>Jak wszystko ten rodzaj pracy ma też wady takie jak:</b></p>

    czas potrzebny na zbudowanie zespołu - synchronizacja między poszczególnymi pracownikami zajmuje czas, a nie ma gwarancji, że po wyszkoleniu załogi nie nastąpi rotacja pracowników.<br>
    odpowiedzialność zbiorowa - pozwala niektórym osobom na unikanie konsekwencji swoich błędów lub lenistwa.
    możliwe konflikty wynikające z różnicy charakterów<br>
    większa rywalizacja - chociaż może być też zaletą, to nadmierna sprzyja stresowi i nie wszystkim odpowiada.<br>
    obawa przed wychodzeniem przed szereg - zwłaszcza w przypadku braku lidera może hamować postępy całego zespołu
      <!-- Post data -->
      <!-- Read more button -->

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <a href="#!" class="pink-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon far icon="image" class="pr-2"></mdb-icon>Integracja w pracy</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Integracja w pracy</strong></h3>
      <!-- Excerpt -->
      <p>Pracodawcy prześcigają się w pomysłach na integrację pracowników. Już od dłuższego czasu najpopularniejsze są wyjazdy integracyjne. Pomysł organizacji tego typu wycieczek przywędrował do Polski z Europy Zachodniej i ze Stanów Zjednoczonych. Początkowo organizowały je tylko duże, międzynarodowe korporacje. Coraz częściej odchodzi się od wyjazdów polegających na odpoczynku, zwiedzaniu i zabawie. Modne są wyprawy z elementami survivalu oraz sportów ekstremalnych.

        Kolejnym sposobem cieszącym się dużym powodzeniem jest zapewnienie rozrywki swoim pracownikom bez potrzeby wyjazdu. Wyjście do restauracji, teatru czy kina to norma. Dreszczyk emocji mamy zagwarantowany idąc na paintball, ściankę wspinaczkową czy naukę łucznictwa. Popularne stają się różnego typu warsztaty: kulinarne, bębniarskie czy komunikacyjne, które dają uczestnikom konkretną wiedzę czy umiejętności.</p>
      <!-- Post data -->
      <!-- Read more button -->

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="https://mdbootstrap.com/img/Photos/Others/img%20(34).jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

  <hr class="my-5">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-5">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="/assets/img/technologie.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-7">

      <!-- Category -->
      <a  class="indigo-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="suitcase" class="pr-2"></mdb-icon>Trendy iT 2020</h6>
      </a>
      <!-- Post title -->
      <h3 class="font-weight-bold mb-3"><strong>Technologie które się zmieniają</strong></h3>
      <!-- Excerpt -->
      <p>
        Dostęp do aplikacji stał się powszechny. Chyba nie ma obecnie firmy małej lub średniej, która w mniejszym lub większym zakresie nie korzysta z aplikacji w chmurze,
        aplikacji w modelu SaaS. Powszechność usług w zakresie oprogramowania jest wynikiem ich dostępności, stabilności oraz niskich kosztów. Bardzo mało małych firm posiada własną infrastrukturę
        w zakresie poczty elektronicznej, stron internetowych, aplikacji B2B.<br>
        Zaczęło się od oprogramowania jeszcze w XX wieku. Obecnie są to również usługi IaaS, oraz PaaS, czyli odpowiednio infrastruktura jako usługa oraz platforma jako usługa. Firmy już nie potrzebują
        kupować urządzeń, zwarzywszy na fakt, że tak na prawdę ich nie potrzebują. Potrzebują posiadać dostęp do zasobów, danych, oprogramowania, usług dla partnerów biznesowych. PaaS oraz IaaS takie usługi oferują.
        Firma może skupić się i rozwijać kompetencje w obszarze, w którym może tworzyć dla klientów największą wartość.

      </p>
      <!-- Post data -->

      <!-- Read more button -->


    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.1 -->
