<!-- News jumbotron -->
<div class="jumbotron text-center hoverable p-10">

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-md-4 offset-md-1 mx-3 my-3">

      <!-- Featured image -->
      <div class="view overlay waves-light" mdbWavesEffect>
        <img src="https://mdbootstrap.com/img/Photos/Others/laptop-sm.jpg" class="img-fluid" alt="Sample image for first version of blog listing">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-md-7 text-md-left ml-3 mt-3">

      <!-- Excerpt -->

      <h4 class="h4 mb-4">Nasza Drużyna...</h4>

      <p class="font-weight-normal">Jesteśmy drużyną która stawia na jakość, naszym celem jest osiągnąć to czego inni jeszcze nie osiągleni, każdy detal
        który dostrzegaż na stronie, my chcemy z niego wyciągnąć jeszcze więcej, tworzymy wszystko od klienta dla klienta, aby każdy kto chciałby
        mieć coś, mógł dostrzec że korzyści każdy ma.
      </p>



    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</div>
<!-- News jumbotron -->


<section class="text-center my-5">

  <h2 class="h1-responsive font-weight-bold my-5">Zastanawia cię, co tak naprawdę tworzymy</h2>
  <!-- Section description -->
  <button class="btn" routerLink="/project" type="button" mdbBtn color="primary" mdbWavesEffect >Tworzymy, własnie to co ty będziesz chciał</button>
</section>


