<!-- Section: Blog v.2 -->
<section class="text-center my-5">

  <!-- Section heading -->
  <h2 class="h1-responsive font-weight-bold my-5">Zajmuemy się tworzeniem...</h2>
  <!-- Section description -->
  <p class="dark-grey-text w-responsive mx-auto mb-5 ">Tworzy aplikację webApi, dzięki której możesz szybko przyśpieszyć swój zespuł,
    Tak samo stwony www, jak wizytówki dzięki którymi każdy rozmpozna cię w świecie, oprócz stron www jak też webApi, zajmuemy się tworzeniem
    bazd danych dzięki którymi nie będziesz musiał szukać swojego towaru, lecz będziesz miał go pod ręką
  </p>

  <!-- Grid row -->
  <div class="row">

    <!-- Grid column -->
    <div class="col-lg-4 col-md-12 mb-lg-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/img/api5.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a  class="pink-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon far icon="map" class="pr-2"></mdb-icon>Strony WWW</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>WWW</strong></h4>
      <!-- Post data -->

      <!-- Excerpt -->
      <p class="dark-grey-text">W dzisiejeszych czasach trzeba być na Topie, aby każdy kto cię widzi, chciał z tobą wykonywać współpracę</p>
      <!-- Read more button -->


    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-md-0 mb-4">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/img/api4.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a class="deep-orange-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="graduation-cap" class="pr-2"></mdb-icon>WebApi</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>WebApi</strong></h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">Dzięki aplikacji webowej, twója firma zdobędzie najlepsze wyniki w swojej pracy, którą każdego dnia musi ppodejmować</p>
      <!-- Read more button -->


    </div>
    <!-- Grid column -->

    <!-- Grid column -->
    <div class="col-lg-4 col-md-6 mb-0">

      <!-- Featured image -->
      <div class="view overlay rounded z-depth-2 mb-4 waves-light" mdbWavesEffect>
        <img class="img-fluid" src="assets/img/api3.jpg" alt="Sample image">
        <a>
          <div class="mask rgba-white-slight"></div>
        </a>
      </div>

      <!-- Category -->
      <a class="blue-text">
        <h6 class="font-weight-bold mb-3"><mdb-icon fas icon="fire" class="pr-2"></mdb-icon>Baza Danych</h6>
      </a>
      <!-- Post title -->
      <h4 class="font-weight-bold mb-3"><strong>Baza Danych</strong></h4>
      <!-- Post data -->
      <!-- Excerpt -->
      <p class="dark-grey-text">Kazdy magazyn, każdy pracownik musi mieć swoje miejsce, aby wiedzieć czym się zajmuje,
        tak samo bazę trzeba napisać, aby w niej wszystkie dane  mogłybyć pod ręką, i praca była przyjemnością każdego dnia.
      </p>
      <!-- Read more button -->


    </div>
    <!-- Grid column -->

  </div>
  <!-- Grid row -->

</section>
<!-- Section: Blog v.2 -->
